@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kite+One&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
/* 
*{
    margin: 0px;
    padding: 0px;
    
} */
.navbar{
    width:100%;
    position:fixed;
    z-index: 999;
    background-color: #2196F3;
    padding: 2px;
    
    
}
#navbarDropdown{
    padding: 0px;
}



.navbar-brand-img{
    width:200px;
    margin-left: 10px;
}
.main_page{ 
    background-color:#607D8B;
}

.btn{
    width: 130px;
    height: 40px;
}


.btn:hover{
    background-color: #ffeaa7;
    color: #0984e3;
}
.home_child1{

    display:flex;
    align-items: center;
    justify-content: center;
    padding-left: 150px;
}
.figure_data{
    width:100%;
    
}

.group_img{
    width: 70%;
    position: absolute;
   
}
.home_child2{
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    top: 50px;
    height: auto;
    z-index: 1;
}

#heading_content{
    
    margin-top: 80px;
    position: relative;
    text-transform: capitalize;
    font-size: 40px;
    font-family: 'Manjari', sans-serif;
    color: #00cec9;
}

#heading_content:before{
    content:"Welcome to Dharmshala Navgurukul Students database..";
    position: absolute;
    top:0;
    color:#ff7675;
    overflow: hidden;
    transition: all 1s linear;
    text-shadow:5px 5px 2px #1a3f49;
}
#heading_content:hover:before{
    width: 100%;
    top:100%;
    left:100%;
    text-shadow:5px 5px 2px #2d3436;
}


.swiper-container {
    width: 100%;
    height: 100%;

    
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }


.swiper_img{
    display: flex;
    justify-content: center;
    width: 60%;
    justify-items: center;
    align-content: center;
    margin-left: 250px;
    /* margin-left: 250px; */

}
SwiperSlide
.home_child3{
 
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.page_child{
    
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    word-wrap: wrap;
    border: solid #8395a7;
    
}

#child3{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: 'Roboto Mono', monospace;
    color: #fa983a;
    text-shadow: 2px 2px 5px black;
    
}
.child3{
    text-transform: capitalize;
    color:#222f3e;
    float: left;
    width: 50%;
    font-size: 2rem;
    text-align: justify;
    word-spacing: 2px;
    
}

.home_child4{
    width: 100%;
}
.child4_content{
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #3742fa;
    font-family: 'Manjari', sans-serif;
    text-shadow: 2px 2px 5px black;
    transition: all 1s linear;
}

.child4_content:hover{
    transform: scale(1.2);
    transition: all 1s linear;
    color: #e84393;
}
.child_img{
    width: 50%;
    margin-left: 15%;
    overflow: hidden;
    margin-bottom: 10%;
}

.admin_nav{
    background-color: #546E7A;
}
.admin_nav_text{
    font-size:20px;
    font-family: 'Acme', sans-serif;
}
.bed_container{
   width: 100%;
   height: 100vh;
}
.main_bed   {
    width: 100%;
}
.bed_container{
    margin-top: 10%;
    display: flex;
    justify-items: center;
    justify-content: center;
    position: relative;
}
.bed_heading{
    display: flex;
}

.data_card{
   margin: 100px;
    padding: 0px;
}
.MuiPaper-root{
    width: 100%;
    margin-left:20px ;
    margin-bottom: 20px;
    float: left;
}
.Main_show{
    margin: 100px;
    padding: 0px;
}
.card{
    width:25%;
    float:left;
    margin-left: 5%;
    margin-bottom: 20px;
}

.user_nav{
    background-color: #6a89cc;
    padding: 5px;
}
.user_nav_text{
    font-size: 22px;
    font-family:'Satisfy', cursive;
    
}
.user_link{
    color: whitesmoke;
}


.student_body{
    width:80vw;
    height: auto;
    margin: auto;
}

@media(max-width:768px){
    .student_main{height:auto ;}
    .Header_otp{height: auto;}
}

.student_main{
    
    width: 100vw;
    height: 100vh;
}
.student_img{
    display: flex;
    margin: 100px;
    overflow: hidden;
    justify-content: left;
}
.pic_student{

    width:400px;
}
.Student_card_container{
    display: flex;
}
.student_container{
    margin-top: 100px;
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Permanent Marker', cursive;
}
label{
    font-family: 'Kite One', sans-serif;
    text-transform: capitalize;
}
.AddStudent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.update_main{
    
    width: 100vw;
    height: 100vh;
    background-color: #9E9E9E;
  
}

.parent_heading{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-transform: uppercase;
    font-family: 'Bree Serif', serif;
    word-spacing: 8px;
    text-shadow: 2px 2px 5px #0984e3;
}
.update_data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#password_change{
    margin-left: 22%;
    padding-bottom: 20px;
    text-transform: capitalize;
    font-family: 'Kite One', sans-serif;
    text-shadow: 2px 2px 5px black;  
}
.input{
    margin: 10px;
}
#update_image{
    display: flex;
    margin-top: 30px;
    margin-left:22% ;
    padding-bottom: 20px;
    text-transform: capitalize;
    font-family: 'Kite One', sans-serif;
    text-shadow: 2px 2px 5px black;  
    overflow: hidden;
      
}
.input_img{
    display: flex;
    justify-content: center;
    margin-right: 15%;
    margin-top: 30px;
    
}
